
<h1 style="text-align: center;">Hi, <%= @user&.full_name %>!</h1>

<p style="text-align: center; width: 50;">
  Thanks for creating an account on QuizzBuzz! We look forward to seeing what you come up with and how you fare against other QuizzBuzzers!
</p>

<p style="text-align: center;">
  <%= link_to("Click here to get started!", quizzes_url, style: "text-align: center;") %>
</p>

<p style="text-align: center;">
Cheers, <br />
QuizzBuzz Team
</p>