

<main class="mx-4"> 

<%# <% if User.find(15).quiz_taken.empty? %>

<%# <h3> You haven't completed any quizzes yet...</h3> %>

<%# <% else %>

    <h3><%= current_user.nickname %>'s  completed quizzes</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>

      <% @index=1 %>
      <% @completed_quiz.each do |q| %>
    
        <tr>
          <th scope="row"> <%= @index%> </th>
          <td> <%= link_to q.title, quiz_path(q)%> </td>
          <td>30%</td>
        </tr>
        <% @index +=1 %>
        
      <% end %>

  <%# <% end %>
</main>