<h1><%= @user.nickname %>'s  completed quizzes</h1>
<main class="mx-4"> 
  <div class="container">  
    <div class ="row justify-content-md-center">
      <% @completed_quiz.each do |q| %>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="card m-2 container-fluid p-0">
            <div class="card-header">
              <h5 class="card-title"><%= link_to q.title.slice(0, 50), quiz_path(q) %></h5>
            </div>
            <div class="card-body">          
              <p class="card-text"><%= q.description.slice(0, 100)%>...</p>  
 <%# QUIZZ SCORING NOT IMPLEMENTED YET %>             
              <small class="text-muted">Score: <%#= q.score %></small>      
            </div>
          </div>
        </div>    
      <% end %>
    </div>
  </div>    
</main>
