

<main class="mx-4"> 
<h3><%= @user.nickname %>'s  completed quizzes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Relationships</td>
      <td>30%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hockey</td>
      <td>90%</td>
    </tr>
    <tr>
     <th scope="row">3</th>
     <td>Cooking</td>
     <td>10%</td>
    </tr>
  </tbody>
</table>

</main>