<h1><%= @user.nickname %>'s  created quizzes</h1>
<main class="mx-4"> 
<% if User.find(15).quiz_taken.empty? %>
  <h3> You haven't created any quizzes yet...</h3>
  <%= link_to("Create New Quiz", new_quiz_path, class: "")%>

<% else %>
  <div class="container">  
    <div class ="row justify-content-md-center">
  
      <% @created_quiz.each do |q| %>
        <div class="col-lg-4 col-sm-12 col-md-6">
          <div class="card m-2 container-fluid p-0">
            <div class="card-header">
              <h5 class="card-title"><%= link_to q.title.slice(0, 50), quiz_path(q) %></h5>
            </div>
            <div class="card-body">          
              <p class="card-text">Times taken: </p>  
              <p class="card-text">Highest score: </p>  
            </div>
          </div>
        </div>    
      <% end %>
    </div>
  </div>    
<% end %>
</main>
