/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  $theme-colors: (
//   "primary":    #3494D6,
//   "secondary":  #EB7E5B,
//   // "success":    #,
//   "info":       #99C5E6,
//   // "warning":    #,
//   // "danger":     #,
//   "light":      #F6F7F7,
//   "dark":       #578078
// );

$theme-colors: (
  "primary":    #A287B4,
  "secondary":  #55B8E6,
  // "success":    #,
  "info":       #EFD232,
  // "warning":    #,
  // "danger":     #,
  "light":      #F6F4F3,
  "dark":       #3F5688
);

#quiz-index .card {
  height: 197px;
}

#quiz-index .card-header {
  height: 80px;
}

#quiz-index .card-title {
  text-align: center;
}

 @import "bootstrap";
 @import "main";
